<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yago.upload.dao.LocalStorageDao">

  <insert id="saveLocalStorage" parameterType="com.yago.upload.domain.LocalStorageEntity">
    insert into tool_local_storage
    values (#{id}, #{realName}, #{name}, #{suffix}, #{path}, #{type}, #{size}, #{identifier}, #{createBy}, #{updateBy}, #{createTime}, #{updateTime});
  </insert>
</mapper>